<!DOCTYPE html>
<html>
  <head>
    <%- include('../components/head') %>
    <link rel="stylesheet" href="<%= origin %>/css/preview.css">
  </head>
  <body>
    <header class="text-center">
      <h1>
        Preview
      </h1>
    </header>
    <main class="main">
      <div class="title-box">
        <h3><%= songData.Title %></h3>
        <h4><%= songData.Artist %></h4>
      </div>
      <form action="/download" method="post" class="mb-3">
        <button type="submit" class="btn btn-primary">
          Download
        </button>
      </form>
      <a href="/" class="btn btn-outline-primary">
        Back
      </a>
    </main>
    <div class="bg-img">
      <img src="<%= songData.imgUrl %>">
    </div>
  </body>
</html>